/*-- scss:defaults --*/

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Code+Pro&display=swap');



// fonts
$font-family-sans-serif: "Source Sans Pro";
$header-font-family: "Open Sans";
$font-family-monospace: "Source Code Pro";


// colors
$body-bg: #3F3F3F !default; // charcoal grey background
$body-color: #f3f3f3 !default; // light grey text
$link-color: #2CDDE0 !default; // light turquoise text
$selection-bg: #26351c !default;
$code-block-bg: #4a4a4a !default; // mid grey
$dark-bg-code-color: #BD1A8D !default; // dark pink


// headings
$presentation-heading-font: "Open Sans", !default;
$presentation-heading-color: #EE9AD9 !default; // light pink text
$presentation-font-size-root:	40px;

$code-block-font-size: 0.80em;

/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 1.5em;
}